*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button:not(.showdetails){
    border-radius: 10px;
}

input, button, textarea{
    border: none;
    padding: 10px 5px;
    background-color: gray;
    border-radius: 5px;
    margin: 15px 0;
}

button:hover, a:hover, input[type="submit"]:hover{
    filter: brightness(70%);
}


#maindiv{
    width: 100vw;
    max-width: 1350px;
    min-height: 100vh;
    margin: 0 auto;
}

.portfolio-section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
}

.portfolio-section:not(#welcomediv) > *{
    width: 90%;
}

.grid-group{
   display: grid;
   gap: 1.5em;
}

.tiny-grid{
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); 
    gap: .5em;
}

.small-grid{
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.medium-grid{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.label-flex{
    display: flex;
    flex-direction: column;
}

.large-grid{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.rounded:not(.auto-height){
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(197, 197, 197);
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    aspect-ratio: 1;
}

.rounded.centered{
    background-color: gray;
}

.auto-height{
    background-color: gray;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: center;
    aspect-ratio: 1;
}

.auto-height > *{
    border-radius: 0 0 10px 10px;
    margin: 0;
}

.bothends{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overlay-container{
    position: relative;
}

.overlay{
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%; 
}

.overlay * {
    z-index: 2;
    opacity: 1;
}



@media screen and (min-width: 1250px){
    .projects{
        grid-template-columns: repeat(4, 1fr)
    }
}

@media screen and (max-width: 1249px) and (min-width: 600px){
    .projects{
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
}