*{
    box-sizing: border-box;
    font-size: 1.125rem;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

h1, h2, h3{
    margin: 25px 0;
}

p{
    line-height: 2.5em;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: black;
}


select{
    padding: 10px;
    border: none;
}

input, button, textarea{
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
}

input[type="checkbox"]{
    margin-right: 10px;
}

.topmost{
    z-index: 4;
}

.togglebtn{
    z-index: 5;
    position: absolute;
}

.overlay-all{
    z-index: 6;
}

button:not(.showdetails){
    border-radius: 10px;
}

button[class="centered"]{
    padding: 20px;
}

textarea{
    min-height: 150px;
}

button:enabled:hover, a:not(.overlay-container):hover, input[type="submit"]:hover{
    filter: brightness(60%);
}

.showdetails{
    border-top: 2px solid rgb(54, 54, 54);
}

.full-container{
    height: 100%;
    width: 100%;
}

.desktopnav{
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: .2em;
}

.mobilenav{
    width: 100%;
    transition: top .5s;
}

.mobilenav a{
    max-width: 500px;
    margin: 0 auto 1px;
}


.desktopnav a, .mobilenav a {
    padding: 10px 0;
    text-align: center;
    display: block;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.portfolio-section{
    max-width: 1450px;
    width: 100%;
    min-height: 100vh;
    gap: 1em;
    margin: 0 auto;
}

.portfolio-section:not(#welcomediv) > *{
    width: 95%;
}

.grid-group {
   display: grid;
   gap: 1.5em;
}

.tiny-grid{
    grid-template-columns: repeat(auto-fit, minmax(50px, 80px)); 
    gap: .5em;
}

.small-grid{
    grid-template-columns: repeat(auto-fill, minmax(50px, 90px));
}

.medium-grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.label-flex, .mobilenav *{
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.align-row{
    grid-template-rows: auto auto 1fr auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: .5em;
}

.rounded:not(.auto-height){
    border-radius: 10px;
    padding: 15px
}

.squared{
    aspect-ratio: 1;
}

.circled{
    border-radius: 50%;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    padding: 25px;
    max-width: 1100px;
}

.rounded.flex-row{
    padding: 40px 15px;
}

.auto-height{
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: center;
}

.auto-height > *{
    border-radius: 0 0 10px 10px;
    margin: 0;
}

.bothends{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.overlay-container{
    position: relative;
}

.overlay{
   position:absolute;
   top: 0;
   left: 0;
}

.overlay * {
    z-index: 2;
    opacity: 1;
}

#overlay-link{
    border-radius: 10px 10px 0 0;
    opacity: 0;
    transition: opacity .5s;
}

.overlay-container:hover > #overlay-link{
    opacity: 1;
}

.togglediv{
    position: absolute;
    left: -1000px;
    z-index: 3;
    padding: 15px;
    transition: left .5s;
}

.togglediv *{
    font-size: .95em;
    margin: 5px 0;
}

#show-filter{
    opacity: 1;
    transition: opacity .5s;
}

@media screen and (min-width: 1250px){
    .projects{
        grid-template-columns: repeat(4, 1fr)
    }

}

@media screen and (max-width: 1249px) and (min-width: 900px){
    .projects{
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
    }
}

@media screen and (min-width: 900px){
    h1{
        font-size: 3.5em;
    }

    h2{
        font-size: 2em;
    }

    #totop{
        display: none;
    }

    .large-grid{
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }

    .togglediv{
        width: 350px;
    }

}

@media screen and (max-width: 899px){
    h1{
        font-size: 3em;
    }

    h2{
        font-size: 1.5em;
    }

    .togglediv{
        width: 225px;
    }

    #totop{
        position: absolute;
        left: 10px;
        bottom: 0;
        text-align: center;
        padding: 25px;
    }

    .projects{
        justify-content: center;
        grid-template-columns: repeat(1, minmax(100px, 300px));
    }

    .grid-group.large-grid, #send-email *{
        display: flex;
        flex-direction: column;
    }

    .grid-group.medium-grid.scroll{
        display: flex;
        flex-direction: column;
        max-height: 700px;
        overflow-y: scroll;
    }

    .position-center.rounded{
    padding: 35px;
    max-height: 900px;
}


}