:root{
    --lightgray : rgb(181, 181, 181);
    --darkgray: rgb(104, 104, 104);
    --transdarkgray: rgba(71, 71, 71, 0.511);
    --translightgray: rgba(184, 184, 184, 0.71);
    --purple: rgb(91, 41, 120); 
}

html{
    scroll-behavior: smooth;
}

.purplediv{
    background-color: var(--purple);
    color: white;
}

.gray-section{
    background-color: var(--lightgray);
}

.gray-box{
    background-color: var(--darkgray);
    color: black;
}

.transdarkgray{
    background-color: var(--transdarkgray)
}

.translightgray{
    background-color: var(--translightgray);
}